@import url('https://fonts.googleapis.com/css2?family=Sniglet&display=swap');

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    height: 100vh;
    background-color: #368cbf;
}

.board {
    display:flex;
    width: 424px;
    height: 650px;
    align-items: center;
    justify-content: center;
    grid-gap: 0;
    resize: both;
    overflow: auto;
  background-color: white;
}

.board img {
    width: 100%;
    height: 100%;
  
    
}

.dice {
    height: 100px;
    width: 100px;
    background-color: rgb(184, 2, 2);
    margin-right: 40px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px (255, 255, 255, 0.9);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-family: Sniglet;
    z-index: 20;
}

.dicediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.roll {
    width: 80px;
    margin-right: 40px;    
    margin-top: 20px;
    border-radius: 5px;
    background-color: #ffe164;
    font-size: 1.4rem;
    box-shadow: 3px 3px 3px 2px(255,255,255, 0.8);
    cursor: pointer;
    font-family: Sniglet;
    border: none;
    z-index: 30;
}

.roll:hover {
    transform: translateY(1px);
    box-shadow: 3px 3px 3px 3px(255,255,255, 0.9);
}
.roll:active {
    transform: translateY(2px);
    outline: none;
    box-shadow: 1px 1px 1px (255,255,255,0.7);
}
.roll:focus {
    outline: none;
}

.rolly {
    width: 150px;
    margin-right: 40px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
}

.flash {
    animation: flash .25s infinite;
}

@keyframes flash{
    0% {
        background-color: white;
    }
    20% {
        background-color: red;
    }
    40% {
        background-color: white;
    }
    60% {
        background-color: red;
    }
    80% {
        background-color: white;
    }
    100% {
        background-color: red;
    }
}

#piece1 {
    position: absolute;
    transform: translate(-10px, -13px);
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px (0,0,0,0.7);
    border-radius: 50%;
    background-color: #f6653c;
    z-index: 30;
    cursor: pointer;
}
/* 
#piece1 img{
    height: 100%;
    width: 100%;
} */

#piece2 {
    position: absolute;
    transform: translate(10px, 13px);
    top: 60px;
    left: 20px;
    height: 50px;
    width: 50px;
    box-shadow: 5px 5px 5px 4px (0,0,0,0.9);
border: 1px solid black;
    border-radius: 50%;
    background-color: #7ebc59;
    z-index: 30;
    cursor: pointer;
}

/* #piece2 img{
    height: 100%;
    width: 100%;
} */

.id3{
    position: absolute;
    height: 450px;
    width: 220px;
    cursor: pointer;
}

.id3 img{
    height: 100%;
    width: 100%;
}

.id4{
    position: absolute;
    height: 450px;
    width: 200px;
    cursor: pointer;
}

.id4 img{
    height: 100%;
    width: 100%;
}

.imgdiv {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fileinput {
    background-color: #7ebc59;
}

/* .drag{
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    font-size: 1.6rem;
} */